<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layouts/default}">
<head>
    <meta charset="UTF-8">
    <title>Thêm câu hỏi</title>
</head>
<body>
    <div layout:fragment="content">
        <form id="questionForm">
            <div class="form-group">
                <label for="title">Tiêu đề</label>
                <input id="title" name="title" type="text" class="form-control" placeholder="Tiêu đề câu hỏi..."/>
            </div>
            <div class="form-group">
                <label for="description">Mô tả ngắn</label>
                <textarea id="description" cols="7" name="description" class="form-control" placeholder="Mô tả ngắn..."></textarea>
            </div>
            <div class="form-group">
                <label for="content">Nội dung câu hỏi</label>
                <textarea id="content" cols="7" name="content" class="form-control" placeholder="Nội dung câu hỏi..."></textarea>
            </div>
            <div class="form-group">
                <label for="category">Thể loại câu hỏi</label>
                <select  name="category" id="category" class="form-control">
                    <option th:each="cate : ${listCategories}" th:value="${cate.getKey()}" th:text="${cate.getValue()}"></option>
                </select>
            </div>
            <div id="answers">
                <h5>Danh sách câu trả lời</h5>
                <div class="border rounded p-3 answers m-1 answerItem">
                    <textarea name="contentAnswer" class="form-control" placeholder="Nhập nội dung câu trả lời..."></textarea><br/>
                    <label>
                        <input name="isTrue_1" value="true" type="radio" checked/> Đúng
                    </label>
                    <label>
                        <input name="isTrue_1" value="false" type="radio" /> Sai
                    </label>
                    <br/>
                    <button class="delete-answer btn btn-danger m-1" type="button" onclick="deleteAnswer(this)">Xoá câu trả lời</button>
                </div>
                <button id="create-answer" class="btn btn-info">Thêm câu trả lời</button>
            </div>
            <div class="form-group mt-1 d-flex justify-content-center">
                <button class="btn btn-info mr-2" id="questionCreate" type="submit">Thêm</button>
                <a class="btn btn-danger" th:href="@{/admin/questions/list}">Huỷ</a>
            </div>
        </form>
    </div>
    <div layout:fragment="file-script">
        <script>
            $("#questionCreate").on('click', (evt) => {
                evt.preventDefault();
                const questionFormData = $("#questionForm").serializeArray();
                const request = {};
               questionFormData.forEach(item => {
                   if(!item.name.startsWith("isTrue") && item.name !== "contentAnswer") {
                       request[item.name] = item.value;
                   }
               });
               const answerContents = $("textarea[name=contentAnswer]").serializeArray().map(item => item.value);
               const isTrueAnswers = $("input[type=radio]:checked").serializeArray().map(item => item.value === "true");
               let answerRequest = [];
               for(let i = 0; i < Object.keys(answerContents).length; i++) {
                   answerRequest.push({content: answerContents[i], isTrue: isTrueAnswers[i]});
               }
               request.answers = answerRequest;
               $.ajax({
                   url: "/api/admin/questions/",
                   method: "POST",
                   contentType: "application/json",
                   data: JSON.stringify(request),
                   success: (res) => {
                       window.location.href = "/admin/questions/list";
                   },
                   error: (err) => {
                       console.log(err);
                   }
               })
            });
            // Thêm câu trả lời
            $("#create-answer").on('click', (evt) => {
                evt.preventDefault();
                console.log(evt.target);
                const answerList = document.querySelector("#answers");
                const newAnswer = document.createElement("div");
                const answers = answerList.querySelectorAll(".answerItem");
                let index = 1;
                if(answers !== null && answers.length > 0) {
                    index = parseInt(answers[answers.length - 1].querySelector("input[type=radio]").name.split("_")[1]) + 1;
                }
                newAnswer.classList.add("border", "rounded", "p-3", "answers", "m-1", "answerItem");
                newAnswer.innerHTML = `
                    <textarea name="contentAnswer" class="form-control" placeholder="Nhập nội dung câu trả lời..."></textarea><br/>
                    <label>
                        <input name="isTrue_${index}" value="true" type="radio" checked/> Đúng
                    </label>
                    <label>
                        <input name="isTrue_${index}" value="false" type="radio" /> Sai
                    </label>
                    <br/>
                    <button class="delete-answer btn btn-danger m-1" type="button" onclick="deleteAnswer(this)">Xoá câu trả lời</button>
                `;
                answerList.insertBefore(newAnswer, evt.target);
            });
            const deleteAnswer = (evt) => {
                evt.parentNode.remove();
            }
        </script>
    </div>
</body>
</html>